body {
  font-family: "Raleway", sans-serif;
}

h2 {
  color: #107972;
  font-size: 38px;
}

h1 {
  color: #279188;
  font-size: 26px;
  font-weight: 100;
  line-height: 28px;
  margin: 0 auto;
  line-height: 30px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(110, 109, 109);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin-top: 5px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #e0dada;
  border-radius: 8px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-bottom: 20px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: black;
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  left: 80px;
  top: -85px;
}

.weather-temperature .units {
  position: relative;
  font-size: 14px;
  top: -110px;
  left: 80px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.units a {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(110, 109, 109);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
